
CosmosKernel1/CosmosKernel1.v12.suo
CosmosKernel1/CosmosKernel1.v12.suo
*.dll
CosmosKernel1/CosmosKernel1/bin/Debug/CosmosKernel1Boot.bin
*.Log
CosmosKernel1/CosmosKernel1/obj/Debug/CosmosKernel1.pdb
*.obj
CosmosKernel1/CosmosKernel1/bin/Debug/CosmosKernel1Boot.map
